In second year computer engineering class, group A studentâ€™s play cricket, group B
students play badminton and group C students play football.
Write a Python program using functions to compute following: -
a) List of students who play both cricket and badminton  
b) List of students who play either cricket or badminton but not both  
c) Number of students who play neither cricket nor badminton  
d) Number of students who play cricket and football but not badminton.  
(Note- While realizing the group, duplicate entries should be avoided, Do not use SETbuilt-in functions)

---
Solved by 
Name :- Pandharpurkar Advait Deepak  
College :- Ajeenkya D. Y. Patil School of Engineering  
Division :- SE-B  
Roll No :- 11  
Teacher's Name :- Prof Sheetal More.  

---

In [1]:
# Basic things to import
from doctest import testmod
import math

In [8]:
group_a = [ # Cricket
    "Advait",
    "Deepak",
    "Simran",
    "Nivedita",
    "Gaurav",
    "Asra",
    "Indrawadan",
    "Aditya"
]
group_b = [ # Badminton
    "Simran",
    "Nivedita",
    "Asra"
]
group_c = [ # Football
    "Advait",
    "Deepak",
    "Indrawadan",
    "Aditya",
    "Sahil"
]

In [3]:
# a) List of students who play both cricket and badminton
answer = []
for person in group_a:
    if person in group_b:
        answer.append(person)
print(answer)

['Simran', 'Nivedita', 'Asra']

In [6]:
# b) List of students who play either cricket or badminton but not both
answer = []
for person in group_a:
    if person not in group_b:
        answer.append(person)
for person in group_b:
    if person not in group_a:
        answer.append(person)

print(answer)

['Advait', 'Deepak', 'Gaurav', 'Indrawadan', 'Aditya']

In [15]:
# c) Number of students who play neither cricket nor badminton
answer = []
for person in group_c:
    if (person not in group_a) and (person not in group_b):
        answer.append(person)
print(len(answer))

1

In [14]:
# d) Number of students who play cricket and football but not badminton. 
answer = []
for person in group_a:
    if (person in group_c) and (person not in group_b):
        answer.append(person)
print(len(answer))

4